name: C++ CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # checkout repo
      - uses: actions/checkout@v4

      # prep cmake
      # use RelWithDebInfo -> ASan/UBSan in CMakeLists.txt
      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo

      # build
      - name: Build
        run: cmake --build build --config RelWithDebInfo

      # run Tests
      # --output-on-failure for error messages
      - name: Test
        working-directory: build
        run: ctest -C RelWithDebInfo --output-on-failure