name: C++ CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # cache setup
    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}-${{ runner.os }}

    - name: Configure CMake
      # run cached g++
      run: cmake -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_CXX_COMPILER_LAUNCHER=ccache

    - name: Build
      run: cmake --build build --config RelWithDebInfo

    - name: Test
      working-directory: build
      run: ctest -C RelWithDebInfo --output-on-failure

  thread-safety-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}-${{ runner.os }}-tsan

    - name: Configure CMake (TSan)
      # turn OFF the default ASan, manually add TSan flags
      run: >
        cmake -B build 
        -DCMAKE_BUILD_TYPE=Debug 
        -DENABLE_ASAN=OFF 
        -DCMAKE_CXX_FLAGS="-fsanitize=thread" 
        -DCMAKE_EXE_LINKER_FLAGS="-fsanitize=thread" 
        -DCMAKE_CXX_COMPILER_LAUNCHER=ccache

    - name: Build
      run: cmake --build build

    - name: Test for Race Conditions
      working-directory: build
      run: ctest --output-on-failure